@import "../../index.css";

.scanner-component {
  border: 3px solid black;
  display: flex;
  justify-content: center;
  width: 100%;
}

.scanner-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scanner-btn,
.reader-btn {
  margin-top: 10px;
  padding: 10px 35px;
  cursor: pointer;
  font-weight: bold;
}

.scanner-btn, .reader-btn {
    background-color: transparent;
    color: var(--primary);
    border: 3px solid var(--secondary);
}

.reader-btn {
  margin-left: 20px;
}

.reader-btn:hover,
.scanner-btn:hover {
  background-color: var(--primary);
  color: var(--secondary);
  border: 3px solid var(--secondary);
  transition: all 0.5s linear;
}

.reader-btn:not(:hover),
.scanner-btn:not(:hover) {
  transition: all 0.5s linear;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-EAN {
  width: 280px;
  padding: 5px;
}

.title {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  .scanner-component {
    width: 23em;
    height: 17.3em;
  }
}

@media screen and (max-width: 480px) {
  .scanner-component {
    height: 250px;
  }

  .scanner-btn,
  .reader-btn {
    padding: 5px 17px;
    margin-top: 5px;
    font-size: 0.8rem;
  }
}
