.error-container {
    border: solid 1px red;
    padding: 15px;
    border-radius: 5px;
    background-color: lightcoral;
    font-weight: bold;
}

.error-message {
    font-size: 0.9rem;
    color: red;
}

@media screen and (max-width: 480px) {
    .error-container {
        padding: 10px;
    }
    .error-message {
        font-size: 0.7rem;
    }
}